/*
Template: Printer
category: Farmer
Author: Codelayers
Version: 1.0
Design and Developed by: Codelayers
*/


/*
======================================
[ CSS TABLE CONTENT ]
======================================

    [Table of contents]

	1.feature boxes
	2.parallax sections
	3.footer styles

	
======================================
[ END CSS TABLE CONTENT ]
======================================
*/


/*============ Feature boxes ============ */

.fr-feature-box-1 {
    width: 100%;
    float: left;
    background-color: #fff;
    transition: all 0.3s ease-out 0s;
}

.fr-feature-box-1 .img-box {
    position: relative;
    width: 100%;
    padding: 0px;
    float: left;
    overflow: hidden;
    transition: all 0.3s ease-out 0s;
}

.fr-feature-box-1 .img-box .crossed-box {
    position: absolute;
    width: 375px;
    height: 158px;
    padding: 0px;
    float: left;
    left: -20px;
    bottom: -109px;
    background-color: #fff;
    -moz-transform: rotate(163deg);
    -webkit-transform: rotate(163deg);
    -o-transform: rotate(163deg);
    -ms-transform: rotate(163deg);
    transform: rotate(163deg);
    transition: all 0.3s ease-out 0s;
}

.fr-feature-box-1 .text-box {
    width: 100%;
    padding: 15px 40px 40px 40px;
    float: left;
}

.fr-feature-box-1:hover,
.fr-feature-box-1.active {
    background-color: rgb(87, 109, 34, .75);
}

.fr-feature-box-1:hover .img-box .crossed-box,
.fr-feature-box-1.active .img-box .crossed-box {
    background-color: rgb(87, 109, 34, .85);
}

.fr-feature-box-1:hover h5,
.fr-feature-box-1.active h5 {
    color: #7fff00;
}

.fr-feature-box-1:hover p,
.fr-feature-box-1.active p {
    color: #000;
}


/* feature box 2
 ------------------------------ */

.fr-feature-box-2 {
    width: 100%;
    float: left;
    padding: 30px;
    border-bottom: 1px solid #7fff00;
    border-right: 1px solid #7fff00;
}

.fr-feature-box-2.box-two {
    border-bottom: 1px solid #7fff00;
    border-right: 1px solid #fff;
}

.fr-feature-box-2.box-three {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #7fff00;
}

.fr-feature-box-2.box-four {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}


/* feature box 3
 ------------------------------ */

.fr-feature-box-3 {
    position: relative;
    width: 100%;
    padding: 0px;
    margin: 0px;
    min-height: 450px;
    overflow: hidden;
}

.fr-feature-box-3 .background-imgholder .overlay {
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
}

.fr-feature-box-3 .background-imgholder {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    background-position: 50% 50% !important;
    background-size: cover !important;
}

.fr-feature-box-3 .text-box {
    position: relative;
    width: 100%;
    z-index: 3;
    padding: 80px;
}


/* feature box 4
 ------------------------------ */

.fr-feature-box-4 {
    width: 100%;
    padding: 65px;
    float: left;
    border: 6px solid #f5f5f5;
}


/* feature box 5
 ------------------------------ */

.fr-feature-box-5 {
    width: 100%;
    float: left;
    background-color: #fff;
    transition: all 0.3s ease-out 0s;
}

.fr-feature-box-5 .img-box {
    position: relative;
    width: 100%;
    padding: 0px;
    float: left;
    overflow: hidden;
    transition: all 0.3s ease-out 0s;
}

.fr-feature-box-5 .img-box .crossed-box {
    position: absolute;
    width: 632px;
    height: 154px;
    padding: 0px;
    float: left;
    left: -20px;
    bottom: -87px;
    background-color: #fff;
    -moz-transform: rotate(167deg);
    -webkit-transform: rotate(167deg);
    -o-transform: rotate(167deg);
    -ms-transform: rotate(167deg);
    transform: rotate(167deg);
    transition: all 0.3s ease-out 0s;
}

.fr-feature-box-5 .text-box {
    width: 100%;
    padding: 15px 40px 40px 40px;
    float: left;
}

.fr-feature-box-5:hover h5,
.fr-feature-box-5.active h5 {
    color: #4bec3d;
    opacity: 1;
}


/* feature box 6
 ------------------------------ */

.fr-feature-box-6 {
    width: 100%;
    float: left;
    padding: 60px;
    background-color: #101010;
}

.fr-feature-box-6 input {
    width: 77%;
    height: 60px;
    float: left;
    padding: 15px;
    border: 1px solid #313131;
    background-color: #101010;
}

.fr-feature-box-6 .submit-btn {
    width: 23%;
    height: 60px;
    float: left;
    padding: 0px;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #ecae3d;
    background-color: #ecae3d;
}

#btn-hovcon:hover {
    background-color: #576d22;
    border-color: #576d22;
}

.footer_contact {
    color: chartreuse;
}

.footer_contact:hover {
    color: #996515;
}

.footer_contact-icon {
    color: chartreuse;
    font-size: 26px;
}

.footer_contact-icon:hover {
    color: #996515;
}


/* .fh5co-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../logo_suphala_final.gif) center center no-repeat #fff;
} */

.preloader {
    background: url('https://drive.google.com/uc?export=view&id=1TFf3DO_gMaPMVCBEJ7q8WN_0BxJOrLQc') no-repeat center center #fcfcff;
    height: 100%;
    background-size: 70%;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    overflow: hidden;
    z-index: 99999;
}

.fo-img_slider {
    transform: translateY(-20px);
}

.about-me {
    margin-top: 150px;
}


/*----------------------------RESPONSIVE STYLES------------------------------- */


/* ---------- MAX 1024PX ---------- */

@media screen and (max-width: 1440px) {
    .about-me {
        margin-top: 155px;
    }
}

@media screen and (max-width: 1024px) {
    .about-me {
        margin-top: 170px;
    }
}

@media only screen and (max-width: 1000px) {}


/* ---------- MAX 991PX ---------- */

@media only screen and (max-width: 991px) {}


/* ---------- MAX 800PX ---------- */

@media only screen and (max-width: 800px) {}


/* ---------- MAX 768PX ---------- */

@media only screen and (max-width: 768px) {
    .about-me {
        margin-top: 60px;
    }
}


/* ---------- MAX 767PX ---------- */

@media only screen and (max-width: 767px) {}

@media screen and (max-width: 640px) {}

@media screen and (max-width: 480px) {
    .footer_contact-icon {
        font-size: 22px;
    }
    .fo-img_slider {
        transform: translateY(-10px);
    }
}


/* ---------- MAX 360PX ---------- */

@media screen and (max-width: 360px) {
    .fr-feature-box-3 .text-box {
        padding: 45px;
    }
    .fr-feature-box-4 {
        padding: 45px;
    }
    .fr-feature-box-6 input {
        width: 100%;
    }
    .fr-feature-box-6 .submit-btn {
        width: 100%;
    }
    .fr-feature-box-6 {
        padding: 45px;
    }
}


/* ---------- MAX 320PX ---------- */

@media only screen and (max-width: 320px) {}


/*GOOGLE MAPS CSS*/

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


/*SCROLL BAR COLORING */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: #576d22;
}


/*BACK TO TOP CSS*/

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
button.back-to-top {
    margin: 0 !important;
    padding: 0 !important;
    background: #fff;
    height: 0px;
    width: 0px;
    overflow: hidden;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    color: transparent;
    clear: both;
    visibility: hidden;
    position: fixed;
    cursor: pointer;
    display: block;
    border: none;
    right: 50px;
    bottom: 75px;
    font-size: 0px;
    outline: 0 !important;
    z-index: 99;
    transition: all .3s ease-in-out;
}

button.back-to-top:hover,
button.back-to-top:active,
button.back-to-top:focus,
{
    outline: 0 !important;
}

button.back-to-top::before {
    content: "\f077";
    font-family: "FontAwesome";
    display: block;
    vertical-align: middle;
    margin: -5px 0 auto;
}

button.back-to-top.show {
    display: block;
    background: #576d22;
    color: #fff;
    font-size: 25px;
    right: 25px;
    bottom: 50px;
    height: 50px;
    width: 50px;
    visibility: visible;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}

button.back-to-top.show:active {
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
}